*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  min-height: 100vh;
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

::placeholder {
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
::-moz-placeholder {
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
::-webkit-input-placeholder {
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul, ol {
  list-style: none;
}

.sr-only {
  position: absolute;
  left: -10000px;
  z-index: -1;
  visibility: hidden;
}
.container {
  max-width: 80rem;
  margin-inline: auto;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.form-control {
  display: block;
  width: 100%;
  padding: 1em;
  border: none;
  border-bottom: 1px solid rgb(219, 219, 219);
  transition: all ease-in 350ms;
}
.form-control:focus {
  outline: none;
  border-bottom: 1px solid #bdbdbd;
}
.form-error {
  color: tomato;
  align-self: flex-start;
  font-size: 0.75rem;
}
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5em 1em;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-color: transparent;
  cursor: pointer;
  font-weight: 500;
  transition: all ease-in 350ms;
}
.btn-primary {
  background-color: linen;
  color: #212121;
  border-bottom: 1px solid #dbdbdb;
}
.btn-primary:hover, .btn-primary:focus {
  outline: none;
  border-bottom-color: #bdbdbd;
}
.btn-danger {
  background-color: tomato;
  color: white;
}
.btn-danger:hover, .btn-danger:focus {
  outline: none;
  transform: scale(0.95);
}
.text-red {
  color: tomato;
}
.space > * + * {
  margin-top: 1em;
}
.auth {
  text-align: center;
  max-width: 35rem;
  margin-inline: auto;
}
.form-actions {
  display: flex;
  justify-content: center;
}
button:disabled {
  cursor: not-allowed;
  background-color: #bdbdbd;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.h-100 {
  height: 100%;
}